.App {
  text-align: center;
}

#body {
  /* background-image: url("/images/CD-Background-Image.jpg"), url("/images/CD-Background2.jpg");
  background-position: right top, left top;
  background-repeat: no-repeat, no-repeat;   */
}